body,
html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

header, main, footer {
    padding: 0 150px;
    position: relative;
}

body>header {
    background-color: rgb(60, 90, 150);
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.login {
    position: absolute;
    right: 150px;
    color: white;
    font-size: 12px;
}

.login td {
    padding-left: 15px;
}

.login tr:last-of-type {
    color: rgb(193, 197, 203);
}

.good-point {
    float: left;
    width: 570px;
    height: 550px;
    margin-right: 50px;
}

.good-point section {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.good-point img {
    display: inline-block;
    width: 10%;
}

.good-point p {
    display: inline-block;
}

.name {
    width: 200px;
    height: 30px;
}

.other {
    width: 410px;
    height: 30px;
}

footer {
    clear: left;
}